.menuWrapper {
    position: relative;
}

.menuBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    padding: 4px;
    transition: all 400ms ease-in-out;
}

.menuBtn:hover{
    color: #00bcd4;
}

.dropdownMenu {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 100%;
    background: rgba(20, 10, 40, 0.65);
    backdrop-filter: blur(12px);
    border: rgba(58, 159, 253, 0.3);
    box-shadow: 0 0 25px rgba(160, 32, 240, 0.2);
    border-radius: 6px;
    width: 200px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5px 8px;
}

.dropdownMenu button {
    padding: 8px 12px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    color: white;
}

.dropdownMenu button:hover {
    background: rgba(255,255,255,0.05);
}