.menuWrapper {
    position: relative;
}

.menuBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    padding: 4px;
    transition: all 400ms ease-in-out;
}

.menuBtn:hover{
    color: #00bcd4;
}

.dropdownMenu {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 100%;
    background-color: #3a506b;
    border-radius: 6px;
    width: 200px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5px 8px;
}

.dropdownMenu button {
    padding: 8px 12px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    color: white;
}

.dropdownMenu button:hover {
    background: #00bcd4;
}