.modal :global(.modal-content) {
  background: linear-gradient(135deg, rgba(58,159,253,0.15) 0%, rgba(160,32,240,0.15) 100%), #0A0014 !important;
  color: #e5e7eb !important;
  border-radius: 12px !important;
  padding: 10px;
  width: 120%;
}

.modalHeader {
  border: none;
  letter-spacing: 1.03px;
}

.modalTitle {
  font-weight: bold;
  color: #38bdf8;
  text-align: center;
}

.modalBody {
  color: #cbd5e1;
  text-align: center;
  font-size: 1.1rem;
  padding: 20px;
}