* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  font-size: 17px;
}

body {
  background: radial-gradient(circle at 20% 20%, #3A9FFD, transparent 50%),
  radial-gradient(circle at 80% 80%, #A020F0, transparent 50%), #0A0014;
  color: #ffffff;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #B3E9FF;
}

a:hover {
  color: #93cee6;
}

.textTheme {
  color: #00bcd4;
}

label {
  color: #e5e7eb;
  font-size: 19px;
  font-weight: 100;
  margin-bottom: 2px;
  margin-left: 12px;
}

.input {
  background-color: #2c2f3a;
  border: none;
  color: #FFFFFF;
  padding: 15px 25px;
  height: 60px;
  border-radius: 30px;
  width: 100%;
}

.input::placeholder {
  color: gray;
}

.input:focus {
  border-color: #3A9FFD;
  box-shadow: 0 2px 15px #3A9FFD;
  color: #FFFFFF;
  outline: none;
}

.form-group {
  margin-bottom: 5px;
}

.textarea {
  height: 120px;
  resize: none;
}

/* Make inactive tab text gray */
#auth-tabs-tab-Signin,
#auth-tabs-tab-Signup {
  color: gray;
}

/* Active tab text color (when selected) */
#auth-tabs-tab-Signin.active,
#auth-tabs-tab-Signup.active {
  color: #00bcd4;
  font-weight: bold;
  background: #12151d;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(15px);
}

.dropdown-menu.show {
  background-color: #3a404e50;
}

a.dropdown-item {
  color: whitesmoke;
}

a.dropdown-item:hover {
  background-color: #00bcd4;
}

.link:hover {
  text-decoration: underline;
}

select {
  appearance: none;
}

select:focus {
  box-shadow: 0px 2px 7px #00bcd4;
}

option {
  cursor: pointer;
}