.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 40px 35px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  color: #ffffff;
}

.heading {
  font-size: 40px;
  font-weight: 800;
  color: #38bdf8;
  text-align: center;
  margin-bottom: 5px;
}