.buttonTheme {
  padding: 0.7rem 1.5rem;
  background: linear-gradient(135deg, #3A9FFD, #A020F0);
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buttonTheme:hover {
  background-color: #3A9FFD;
  box-shadow: 0px 6px 15px #3A9FFD;
}