.buttonTheme {
  padding: 0.7rem 1.5rem;
  background: linear-gradient(135deg, #4628cc, #cc28c4, #4628cc);
  color: #ffffff;
  background-size: 200% 200%;
  background-position: left center;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-position 0.6s ease;
}

.buttonTheme:hover {
  background-position: right center;
}