/* Googel login button */
.googleBtn {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #3c91e6, #204a85);
  color: #ffffff;
  background-size: 200% 200%;
  background-position: left center;
  width: 100%;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 0.7rem 1.5rem;
  font-size: 1.1rem;
  transition: background-position 0.6s ease;
}

.googleBtn:hover {
  background-position: right center;
}

/* Google logo */ 
.image {
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}