.sidebar {
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
    min-height: 100vh;
    position: relative;
    min-width: 270px;
    width: 350px;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    font-size: 2rem;
    font-weight: bold;
    color: #3A9FFD;
    text-shadow: 0 0 6px #3A9FFD, 0 0 12px #A020F0;
    box-shadow: 0 0 0 0 1px rgba(58, 159, 253, 0.4),
             0 0 18px rgba(160, 32, 240, 0.3);  
}

.logo span {
    font-size: 1.4rem;
    text-wrap: nowrap;
}

/* Nav */
.nav {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    flex-grow: 1;
    margin: 5px;
}

.heading {
    color: #ffffff;
    font-size: 27px;
    font-weight: bolder;
    letter-spacing: 0.3px;
    margin: 10px;
}

.navItem {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding: 12px 18px;
    color: #ddd;
    text-decoration: none;
    transition: background 0.2s;
    font-size: 21px;
    margin-top: 5px;
}

.navItem span {
    font-size: 12px;
    margin-left: auto;
}

.navItem:hover {
    background: rgba(255,255,255,0.05);
    color: #3A9FFD;
}

.active {
  background: rgba(255,255,255,0.05);
  color: #3A9FFD;
}

.logoutLink {
    font-size: 22px;
}

.groupItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px 10px;
}

.menuWrapper {
    position: relative;
}

.menuBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    padding: 4px;
    transition: all 400ms ease-in-out;
}

.menuBtn:hover{
    color: #00bcd4;
}