.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.wrapper h2 {
    color: #00bcd4;
    font-weight: 770;
    font-size: 2.7rem;
    letter-spacing: 5px;
}