/* Input wrapper */
.inputWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Input field */
.messageInput {
    flex: 1;
    padding: 10px 14px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #3a3b3c;
    color: #e4e6eb;
    font-size: 14px;
}

/* Message placeholder */
.messageInput::placeholder {
    color: #b0b3b8;
}

.sendBtn {
    background: linear-gradient(135deg, #4628cc, #cc28c4, #4628cc);
    border: none;
    color: #ffffff;
    background-size: 200% 200%;
    background-position: left center;
    padding: 1px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    cursor: pointer;
    font-size: 17px;
    margin-left: -20px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-position 0.6s ease;
}

.sendBtn:hover {
    background-position: right center;
}